*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #dadada;
  font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrap {
  max-width: 100%;
  width: 650px;
  margin: auto;
  background: white;
  padding: 1.3em;
  border-radius: 3px;
  text-align: left;
  height: 100vh;
  overflow: auto;
}

@media only screen and (max-width: 700px) {
  .wrap {
    max-width: min(95%, 550px);
    padding: 15px;
  }
}

a {
  color: #399ae5;
  text-decoration: none;
}

a:hover {
  color: #206ba4;
  text-decoration: none;
}

.sub {
  margin-left: 20px;
  border-left: solid 5px #ece9e9;
  display: none;
}

.sub.shown {
  display: block;
}
